.blog{
    height: calc(50vh - 6rem);
    display: flex;
    flex-direction: column;
}

.blog img{
    border-radius: 3rem 0 3rem 0;
    margin-bottom: 1rem;
    margin-top: 0rem;
    border: 0.4rem solid var(--site-color-01)
}

.post-intro{
    display: flex;
    height: calc(50vh - 6rem);
    justify-content: center;

}

.introduction{
    /* background-color:orange; */
    width: 69.45%;
    display: flex;
    flex-direction: row;
    align-items: center; /*center vertically*/
    justify-content: center; /* center horizontally */
    column-gap: 5%;

}

.introduction img{
    height: 80%;
    border-radius: 0 3rem 0 3rem;

}

.intro-text {
    width: 30%;
}


.introduction h1{
    margin-bottom: 3%;
}

.introduction p{
    border-left: var(--border-main);
    /* margin-left: 1rem; */
    padding-left: 1rem;
    
}



.nav-column{
    background-color: green;
    width: calc((100% - 69.45%)/2);
}



.tags-column{
    background-color: blue;
    width: calc((100% - 69.45%)/2);
}

.process-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 6%;
    /* padding: 0 3% 0 3%; */

}

.process-img div{
    text-align: center;
}

.process-img h1{
    background-color: var(--site-color-01);
    width: 100%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.process-img img{
    border-radius: 3rem 3rem 3rem 3rem;
    height: 25vh;

}

.tutorial{
        width: 69.45%;
        display: flex;
        flex-direction: row;
        align-items: center; /*center vertically*/
        justify-content: space-between; /* center horizontally*/
}

.tutorial-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5%;


}

.tutorial img{
    margin: 5%;
    height: 20vh;
}