.blog{
    height: calc(50vh - 6rem);
    display: flex;
    flex-direction: column;
}

.post-intro{
    display: flex;
    height: calc(50vh - 6rem);
}

.introduction{
    background-color:orange;
    width: 100rem;
    display: flex;
    flex-direction: row;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    column-gap: 20%;
}

.introduction img{
    height: 80%;
}


.nav-column{
    background-color: green;
    flex-grow: 1;
}



.tags_column{
    background-color: blue;
    flex-grow: 1;
}